//
//  {{ viewName }}.{{ extension }}
//  {{ projectName }}
//
//  Created by the Manticore Manticom (iOS Communication) on {{ date }}.
//  Copyright (c) {{ year }} {{ projectName }}. All rights reserved.
//

